:root {
	--bg-color: #ffffff;
	--text-color: #000000;
}

@media print {
	.noPrint {
		display: none;
	}
}

* {
	margin: 0;
	padding: 0;
}

[data-theme="dark"] {
	--bg-color: #1e1e1e;
	--text-color: #f1f1f1;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 22px;
	line-height: 1.5;
}

header {
	top: 0;
	background-color: var(--bg-color);
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 1000;
}

main {
	margin-top: 8%;
}

nav {
	display: none;
	flex-direction: column;
}

nav a {
	margin: 10px 0;
	text-decoration: none;
	color: var(--text-color);
}

nav a:hover {
	text-decoration: underline;
}

.controls {
	display: flex;
	gap: 10px;
	align-items: center;
}

.darkmode-button {
	background-color: var(--text-color);
	color: var(--bg-color);
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1rem;
}

.button:hover {
	opacity: 0.8;
}

.menu-button {
	display: block;
	/* margin-right: 10px; */
	cursor: pointer;
}

.visible {
	display: flex;
}

.hidden {
	display: none;
}

#chapter {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: justify;
}

#chapter-name {
	text-align: center;
	margin-bottom: 20px;
}

section {
	padding-top: 80px;
}

/* Navigation Arrows */
/* .arrow {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--text-color);
	color: var(--bg-color);
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
	font-size: 1.5rem;
} */

.arrow-left {
	top: 50%;
	left: 5%;
	position: fixed;
	width: 50px;
	cursor: pointer;
}

.arrow-right {
	top: 50%;
	right: 5%;
	position: fixed;
	width: 50px;
	cursor: pointer;
	z-index: 1;
}

.arrow-up {
	top: 85%;
	right: 5%;
	position: fixed;
	width: 50px;
	cursor: pointer;
}

.slider-container {
	display: flex;
	align-items: center;
}

.slider {
	--webkit-appearance: none;
	width: 100px;
	height: 8px;
	border-radius: 5px;
	background: var(--text-color);
	outline: none;
	opacity: 0.8;
	transition: opacity 0.2s;
	cursor: pointer;
}

.slider:hover {
	opacity: 1;
}

.fullscreen-button {
	cursor: pointer;
	padding-top: 10px;
	padding-right: 20px;
}

.controls > * {
	border-right: 1.5px solid var(--text-color);
	padding-right: 10px;
}

.controls > *:last-child {
	border-right: none;
}

/* Menu pop up */

/* .popup-menu a[href*="#section"] {
	margin-left: 50px;
} */

.popup-menu {
	font-size: large;
	position: fixed;
	top: 58px;
	right: 0;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	/* padding: 12px 16px; */
	z-index: 2000;
	border: none;
	border-radius: 10px;
	max-width: 40%;
}

.popup-menu .chapter {
	position: relative;
}

.popup-menu .sections {
	display: none;
	position: absolute;
	top: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2000;
	border: none;
	border-radius: 10px;
	left: -10%;
	right: 0;
	max-width: 80%;
}

.popup-menu .chapter:hover .sections {
  display: block;
}


.popup-menu a {
	display: block;
	cursor: pointer;
	right: 0;
}

.popup-menu.active {
	display: block;
}

.menu-button:hover + .popup-menu,
.popup-menu:hover {
	display: block;
}

.popup-menu:not(:hover) {
	display: none;
}

.popup-menu a {
	display: block;
	margin-bottom: 6px;
	cursor: pointer;
}

/* logo */
#logo {
	width: 80px;
}

.logo-img {
	padding-top: 10px;
}

.language-selector {
	cursor: pointer;
}

[data-theme="dark"] .icon {
	filter: invert(1);
}

[data-theme="dark"] .popup-menu {
	--text-color: black;
}

.text-with-icon {
	display: flex;
	align-items: center;
}

.language-selector {
	cursor: pointer;
}

.language-icon {
	padding-left: 10px;
}

.icon {
	cursor: pointer;
}

.logo-img {
	display: flex;
	align-items: center; /* Căn dòng văn bản vào giữa theo chiều dọc */
}

.logo-text {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
p {
	font-family: "Times New Roman", serif;
	text-indent: 1cm;
	text-align: justify;
	line-height: 1.25cm;
}
